h1{
		text-align: center;
		font-size:35px;      }
	body {
		color: #654321;
		background-color: #FFFCE8;
		font-size: 16px;
		margin-left: 120px;
		font-family: sans-serif;
	}
	
a
{color :#8B123A;}

p
{text-align:justify;
font-size: 18px}